.obj-overview-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 2rem 1rem;
	margin-block-start: 1rem;

	&__add-link {
		background-color: var(--brand-primary);
		color: var(--brand-background);
		border: 2px solid var(--brand-primary);
		padding: 0.5rem;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			background-color: var(--brand-secondary);
			border-color: var(--brand-secondary);
			color: var(--brand-background);
		}

		&:focus {
			background-color: var(--brand-secondary);
			border-color: var(--brand-secondary);
			color: var(--brand-background);
			outline-color: var(--brand-secondary);
			outline-offset: 3px;
			outline-width: 3px;
		}
	}

	&__section {
		position: relative;
		padding: 0 0.5rem 0.5rem;

		@media (min-width: 39rem) {
			max-height: calc(100dvh - 9rem);
			overflow: auto;
		}
	}

	&__section-heading {
		position: sticky;
		top: 0;
		background-color: var(--brand-background);
		margin-block: 0 1.5rem;
		padding-block-start: 0.25rem;
	}

	&__section-subheading {
		position: sticky;
		top: 3.125rem;
		background-color: var(--brand-background);
	}
}
