.cmp-form {
	display: flex;
	flex-direction: column;
	align-items: baseline;

	&__label {
		font-weight: 700;
	}

	&__input {
		box-sizing: border-box;
		margin-block-start: 8px;
		width: min(40ch, 100%);
		background-color: var(--brand-background-alt);
		border: 2px solid currentcolor;
		padding: 0.5rem;

		&:focus {
			outline-color: var(--brand-secondary);
			outline-offset: 3px;
			outline-width: 3px;
		}
	}

	&__button {
		margin-block-start: 1rem;
		background-color: var(--brand-primary);
		color: var(--brand-background);
		border: 2px solid var(--brand-primary);
		padding: 0.5rem;
		font-weight: 700;

		&:focus {
			background-color: var(--brand-secondary);
			border-color: var(--brand-secondary);
			outline-color: var(--brand-secondary);
			outline-offset: 3px;
			outline-width: 3px;
		}
	}
}
