.cmp-pagination {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	justify-content: space-between;

	&__link {
		font-size: 1.25rem;

		&[aria-current='page'] {
			text-decoration: none;
			color: var(--brand-foreground);
		}
	}
}
