:root {
	--color-black: oklch(0% 0 0deg);
	--color-neutral-10: oklch(10% 0 0deg);
	--color-neutral-20: oklch(20% 0 0deg);
	--color-neutral-30: oklch(30% 0 0deg);
	--color-neutral-40: oklch(40% 0 0deg);
	--color-neutral-50: oklch(50% 0 0deg);
	--color-neutral-60: oklch(60% 0 0deg);
	--color-neutral-70: oklch(70% 0 0deg);
	--color-neutral-80: oklch(80% 0 0deg);
	--color-neutral-90: oklch(97.5% 0 0deg);
	--color-white: oklch(100% 0 0deg);
	--color-red: oklch(46.89% 0.179 26.36deg);
	--color-orange: oklch(38% 0.1 55deg);
	--color-yellow: oklch(38% 0.1 100deg);
	--color-green: oklch(43.66% 0.124 139.94deg);
	--color-teal: oklch(38% 0.1 210deg);
	--color-blue: oklch(38% 0.1 255deg);
	--color-purple: oklch(46.11% 0.129 306.56deg);
	--color-pink: oklch(38% 0.1 330deg);
	--brand-background: var(--color-neutral-90);
	--brand-background-alt: var(--color-white);
	--brand-foreground: var(--color-neutral-10);
	--brand-primary: var(--color-green);
	--brand-secondary: var(--color-purple);
	--brand-danger: var(--color-red);

	background-color: var(--brand-background);
	color: var(--brand-foreground);
	font-variant-numeric: tabular-nums;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-red: oklch(69.76% 0.19 23.54deg);
		--color-orange: oklch(80% 0.1 55deg);
		--color-yellow: oklch(88.53% 0.15 100deg);
		--color-green: oklch(80% 0.1 140deg);
		--color-teal: oklch(80% 0.1 210deg);
		--color-blue: oklch(80% 0.1 255deg);
		--color-purple: oklch(80% 0.1 290deg);
		--color-pink: oklch(79.33% 0.16 338.82deg);
		--brand-background: var(--color-neutral-10);
		--brand-background-alt: var(--color-neutral-20);
		--brand-foreground: var(--color-neutral-90);
		--brand-primary: var(--color-pink);
		--brand-secondary: var(--color-yellow);
	}
}
